@model IEnumerable<Employee>
@{
   ViewData["Title"] = "Index Page";
   IEnumerable<Employee> employees = Model;
}

<a asp-action="Create" class="btn btn-primary">Create</a>


<table class="table">

   <thead>
      <tr>
         <td scope="col">ID</td>
         <td scope="col">Name</td>
         <td scope="col">UserName</td>
         <td scope="col">Password</td>
      </tr>
   </thead>

   <tbody>

      @foreach (var item in employees)

      {
         <tr>
            <td scope="row">@item.ID</td>
            <td scope="row">@item.Name</td>

            <td scope="row">@item.UserName</td>
            <td scope="row">@item.PassWord</td>
            <td> 
               <a asp-action="Detail" asp-route-Id="@item.ID" class="btn btn-primary">Details</a>
               <a asp-action="Update" asp-route-Id="@item.ID" class="btn btn-warning">Edit</a>
               <a asp-action="Delete" asp-route-Id="@item.ID" class="btn btn-danger">Delete</a>
            </td>


         </tr>
      }




      </tr>
   </tbody>
</table>
